@import url('https://fonts.cdnfonts.com/css/hero-new');

body {
    font-family: 'Hero New', sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;    
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 30px 0;
}